
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/PSAzureMigrationAdvisor/.vs/*
library/PSAzureMigrationAdvisor/PSAzureMigrationAdvisor/bin/*
library/PSAzureMigrationAdvisor/PSAzureMigrationAdvisor/obj/*

# ignore PowerShell Studio MetaData
PSAzureMigrationAdvisor/PSAzureMigrationAdvisor.psproj
PSAzureMigrationAdvisor/PSAzureMigrationAdvisor.psproj.bak
PSAzureMigrationAdvisor/PSAzureMigrationAdvisor.psprojs
PSAzureMigrationAdvisor/PSAzureMigrationAdvisor.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*